body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

article > button {
    margin-left: 8px;

}

article > button:first-of-type {
    margin-left: 0;
}

article {
    margin-bottom: 32px;
}

div.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div > button {
    margin-top: 12px;
}

div > button:first-of-type {
    margin-top: 0;
}
